<div id="parallax" class="flex-parent">
  <div class="flex-content">
    <h1 id="four0four" class="big">
      <span class="first-four">4</span>
      <span class="zero">0</span>
      <span class="last-four">4</span>
    </h1>
    <h2 id="notFound" class="notFound">{{ '404.notFound' | translate }}</h2>
  </div>
</div>
