@import '../../themes.scss';

.flex-parent {
  display: flex;
  min-height: 65vh;
}

.big {
  font-size: 5rem;
  opacity: .5;
  animation: slideIn404 1.5s;
}

.flex-content {
  margin: auto;
  justify-content: space-around;
}

.first-four {
  margin-right: 30px;
}

@include nb-install-component {
  .zero {
    color: nb-theme(color-primary-500);
  }
}

.last-four {
  margin-left: 30px;
}

.notFound {
  margin-top: -65px;
  animation: slideIn404 1.5s;
}

@keyframes slideIn404 {
  from {
    margin-top: 10px;
    margin-bottom: -10px;
    opacity: 0.125;
  }

  to {}
}
