<div cdkDrag [cdkDragFreeDragPosition]="freeDragPosition" (cdkDragEnded)="afterDrag($event)" cdkDragBoundary=".columns">
  <nb-card accent="primary">
    <nb-card-header>
      <div class="space-between">
        <h5>Addons</h5>
        <div class="space-between">
          <nb-icon *ngIf="!resetDisabled" (click)="resetPosition()" icon="undo-outline" status="primary"
            style="font-size: 1.75rem;">
          </nb-icon>
          <div cdkDragHandle></div>
          <nb-icon icon="move-outline" status="primary" class="move-btn" cdkDragHandle></nb-icon>
        </div>
      </div>
    </nb-card-header>
  </nb-card>
  <nb-accordion class="marginBottom">
    <!-- Addon item -->
    <nb-accordion-item *ngFor="let addon of addons">
      <nb-accordion-item-header>{{ addon.name }}</nb-accordion-item-header>
      <nb-accordion-item-body>
        <div class="flexBetween">
          <div>
            <strong>{{ 'ADDONS.name' | translate }}</strong> : {{ addon.name }} <br>
            <strong>{{ 'ADDONS.desc' | translate }}</strong> : {{ addon.description }} <br>
            <span *ngIf="addon.uri != null"><strong>{{ 'ADDONS.uri' | translate }}</strong> : {{ addon.uri }}
              <br></span>
          </div>
          <div>
            <img *ngIf="addon.imgPath != ''" ondragstart="return false" class="tile" [src]="addon.imgPath" alt=""
              width="100">
          </div>
        </div>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
