<p class="textSize">{{ 'ADDCAPS.chooseAddons' | translate }} :</p>
<label *ngFor="let path of imgsPath">
  <input #addon type="radio" name="addon" value="{{path}}" (click)="onAddonSelect(path, path.id, addon)">
  <img ondragstart="return false" class="tiles" [src]="path" alt="" width="130">
</label>
