<p class="textSize">{{ 'WEBAPP.choose' | translate }} :</p>
<label *ngFor="let path of imgsPath">
  <input #radioBtn type="radio" name="webapp" value="{{ path }}" (click)="add(radioBtn.value, radioBtn)">
  <img ondragstart=" return false" class="tiles" [src]="path" alt="" width="130">
</label>
