<!-- Add SSH Key -->
<nb-card accent="primary">
  <nb-card-header>{{ 'SSH.addKey' | translate }}</nb-card-header>
  <nb-card-body>
    {{ 'SSH.putKey' | translate }} : <br>
    <textarea #sshField nbInput fullWidth (keyup.enter)="onSend(sshField.value)"></textarea>
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" style="margin-right: 5px;" (click)="onSend(sshField.value)">
      {{ 'SSH.send' | translate }}
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>

<!-- SSH Key list -->
<nb-card accent="primary" *ngIf="isFetched && sshKeys != null">
  <nb-card-header>{{ 'SSH.keyList' | translate }}</nb-card-header>
  <nb-card-body>
    <table class="table_style">
      <tr>
        <th>ID</th>
        <th>{{ 'SSH.createdAt' | translate }}</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of sshKeys">
        <td>{{ item.id }}</td>
        <td>{{ item.created_at }}</td>
        <td>
          <nb-icon class="icon" title="{{ 'SSH.delete' | translate }}" icon="close-outline" (click)="delete(item.id)">
          </nb-icon>
          <nb-icon class="icon" title="{{ 'SSH.seeKey' | translate }}" icon="eye-outline"
            (click)="open(dialog, item.public_key)"></nb-icon>
          <nb-icon class="icon" title="{{ 'SSH.copyKey' | translate }}" icon="copy-outline"
            (click)="copy(sshKeyToCopy.value)" nbTooltip="{{ 'SSH.copied' | translate }}" nbTooltipStatus="success"
            nbTooltipTrigger="click" nbTooltipPlacement="bottom"></nb-icon>
        </td>
        <input #sshKeyToCopy hidden value="{{ item.public_key }}">
      </tr>
    </table>
  </nb-card-body>
</nb-card>

<!-- Show SSH Key -->
<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card class="dialog-size">
    <nb-card-header>{{ 'SSH.sshKey' | translate }}</nb-card-header>
    <nb-card-body id="sshBody">
      {{ sshKeyToShow }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="close(ref)">Fermer</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
