@import '../../themes.scss';

.icon {
  font-size: 1.9rem;
  font-weight: 400;
  line-height: 1.25rem;
  margin-left: 7px;
  cursor: pointer;
}

.table_style {
  border-collapse: collapse;
  width: 100%;
}

@include nb-install-component {

  .table_style td,
  .table_style th {
    border: 1px solid nb-theme(divider-color);
    padding: 8px;
  }
}

@include nb-install-component {
  .table_style tr:hover {
    background-color: nb-theme(text-hint-color);
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
  }
}

@include nb-install-component {
  .table_style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: nb-theme(color-primary-500);
    color: white;
  }
}

.dialog-size {
  width: min-content;
}

#sshBody {
  width: 600px;
}

@media only screen and (max-width: 600px) {
  #sshBody {
    width: 360px;
  }
}
