<div *ngIf="capsuleId">
  <nb-card accent="{{ nbCardAccent }}">
    <nb-card-header>
      <h5 class="textSize">{{ 'HOME.addAddon' | translate }}</h5>
    </nb-card-header>
    <nb-card-body>
      <!-- Addons list -->
      <app-addons-list #addonsList></app-addons-list>
    </nb-card-body>
  </nb-card>
  <div *ngIf="addonsList.selectedAddons.length > 0">
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header class="textSize">{{ addonsList.selectedAddons[0].name | titlecase }}
        </nb-accordion-item-header>
        <nb-accordion-item-body class="textSize">
          <!-- Addon creation -->
          <app-addon-creation (readyAddon)="add($event)" [addonsList]="addonsList.selectedFamily"></app-addon-creation>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </div>
</div>
