<div *ngIf="capsule">
  <nb-card id="nbCardOverview" accent="{{ overviewCardAccent }}" cdkDrag [cdkDragFreeDragPosition]="freeDragPosition"
    (cdkDragEnded)="afterDrag($event)" cdkDragBoundary=".columns">

    <!-- Card Header -->
    <nb-card-header>
      <div class="space-between">
        <h5 class="textSize">{{ 'OVERVIEW.title' | translate }}</h5>
        <div class="space-between">
          <a *ngIf="editMode && role == 'superadmin'" (click)="open(dialog)">
            <button nbButton status="danger" size="small" style="margin-left: 5px;">{{ 'OVERVIEW.delete' | translate }}
              <nb-icon icon="trash-outline">
              </nb-icon></button>
          </a>
          <nb-icon *ngIf="!resetDisabled" (click)="resetPosition()" icon="undo-outline" status="primary"
            style="font-size: 1.75rem; margin-left: 10px;">
          </nb-icon>
          <nb-icon icon="move-outline" class="move-btn" status="primary" cdkDragHandle></nb-icon>
          <nb-icon (click)="edit()" icon="settings-2-outline" status="primary" class="a-cursor"
            style="font-size: 1.75rem; margin-left: 10px;">
          </nb-icon>
        </div>
      </div>
    </nb-card-header>

    <!-- Card Body -->
    <nb-card-body>
      <table>
        <tr>
          <td><strong>{{ 'OVERVIEW.name' | translate }}</strong> :</td>
          <td>{{ capsule.name }}</td>
        </tr>
        <tr>
          <td><strong>{{ 'OVERVIEW.users' | translate }}</strong> :</td>
          <ul *ngIf="capsule.owners">
            <li *ngFor="let owner of capsule.owners">
              {{ owner }}
              <nb-icon *ngIf="editMode" (click)="onDeleteUser(owner)" class="a-cursor"
                title="{{ 'SSH.delete' | translate }}" icon="close-outline">
              </nb-icon>
            </li>
          </ul>
        </tr>
        <tr *ngIf="capsule.authorized_keys.length != 0">
          <td><strong>{{ 'OVERVIEW.sshKeys' | translate }}</strong> :</td>
          <td>
            <span *ngIf="capsule.authorized_keys.length == 1"><a class="a-cursor"
                (click)="openSSH(dialog2, capsule.authorized_keys[0].public_key)">{{ capsule.authorized_keys[0].id }}</a></span>
            <ul *ngIf="capsule.authorized_keys.length > 1">
              <li *ngFor="let key of capsule.authorized_keys">
                <a class="a-cursor" (click)="openSSH(dialog2, key.public_key)">
                  {{ key.id }}
                </a>
                <nb-icon *ngIf="editMode" (click)="onDeleteSSH(key.id)" class="a-cursor"
                  title="{{ 'SSH.delete' | translate }}" icon="close-outline">
                </nb-icon>
              </li>
            </ul>
          </td>
          <td *ngIf="editMode && capsule.authorized_keys.length == 1">
            <nb-icon (click)="onDeleteSSH(capsule.authorized_keys[0].id)" class="a-cursor"
              title="{{ 'SSH.delete' | translate }}" icon="close-outline">
            </nb-icon>
          </td>
        </tr>
        <tr *ngIf="editMode">
          <td><strong>{{ 'OVERVIEW.addOwner' | translate }}</strong> :</td>
          <td><input fullWidth #newOwner type="text" nbInput (keyup.enter)="onSave(newOwner.value)"></td>
          <span style="margin-left: 5px;"></span>
          <a (click)="onSave(newOwner.value)">
            <button nbButton status="primary">{{ 'OVERVIEW.add' | translate }}<nb-icon icon="plus-outline">
              </nb-icon></button>
          </a>
          <a (click)="onCancel()">
            <button nbButton status="danger" style="margin-left: 5px;">{{ 'OVERVIEW.cancel' | translate }}
              <nb-icon icon="close-outline">
              </nb-icon></button>
          </a>
        </tr>
        <tr *ngIf="editMode">
          <td><strong>{{ 'OVERVIEW.addKey' | translate }}</strong> :</td>
          <td><input fullWidth #newSshKey type="text" nbInput (keyup.enter)="onSaveSSH(newSshKey.value)"></td>
          <span style=" margin-left: 5px;"></span>
          <a>
            <button (click)="onSaveSSH(newSshKey.value)" nbButton status="primary">{{ 'OVERVIEW.add' | translate }}
              <nb-icon icon="plus-outline">
              </nb-icon></button>
          </a>
          <a (click)="onCancel()">
            <button nbButton status="danger" style="margin-left: 5px;">{{ 'OVERVIEW.cancel' | translate }}
              <nb-icon icon="close-outline">
              </nb-icon></button>
          </a>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>

  <!-- Diaolog for deleteCapsule -->
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>{{ 'WEBAPP.confirm' | translate }}</nb-card-header>
      <nb-card-body>
        {{ 'OVERVIEW.looseData' | translate }}<br>
        {{ 'OVERVIEW.typeCapName' | translate }} <br><br>
        <input type="text" #capName fullWidth nbInput placeholder="{{ 'WEBAPP.capName' | translate }}"
          (keyup.enter)="close(ref, true, capName.value)">
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="close(ref, false)">{{ 'WEBAPP.cancel' | translate }}</button>
        <button style="margin-left: 5px;" nbButton status="primary"
          (click)="close(ref, true, capName.value)">{{ 'WEBAPP.confirm' | translate }}</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<!-- Dialog for SSH Key -->
<ng-template #dialog2 let-data let-ref="dialogRef">
  <nb-card class="dialog-size">
    <nb-card-header>{{ 'SSH.sshKey' | translate }}</nb-card-header>
    <nb-card-body id="sshBody">
      {{ sshKeyToShow }}
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="closeSSH(ref)">Fermer</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
