.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.space-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.a-cursor {
  cursor: pointer;
}

.dialog-size {
  width: min-content;
}

@media only screen and (max-width: 600px) {
  #sshBody {
    width: 360px;
  }
}
