<div *ngIf="addons && hasAddon">

  <!-- Addon infos -->
  <div *ngIf="!editMode">
    <nb-card accent="{{ addonCardAccent }}">
      <nb-card-header class="space-between">
        <span>{{ selectedAddon.name }}</span>
        <span *ngIf="runtime != undefined">{{ runtime.name }}</span>
      </nb-card-header>
      <nb-card-body>
        <div class="flexBetween">
          <div>
            <p><strong>Description</strong> : {{ selectedAddon.description }}</p>
            <p *ngIf="selectedAddon.uri != null || selectedAddon.uri != undefined"><strong>URI</strong> :
              {{ selectedAddon.uri }}</p>
            <p *ngIf="selectedAddon.env.length > 0">
              <strong>{{ 'ADDONINFO.envVar' | translate }}</strong> : <br>
              <strong>Proxy HTTP</strong> : {{ selectedAddon.env.HTTPS_PROXY }} <br>
              <strong>Proxy HTTPS</strong> : {{ selectedAddon.env.HTTP_PROXY }} <br>
            </p>
            <p *ngIf="selectedAddon.opts.length != 0">
              <strong>{{ 'ADDONINFO.optionList' | translate }}</strong> :
              <span *ngFor="let item of selectedAddon.opts">
                <br><strong>{{ item.field_name }}</strong> :
                <span *ngIf="item.value.length < 22">
                  {{ item.value }}
                </span>
                <span *ngIf="item.value.length >= 22">
                  <nb-icon status="primary" icon="file-text-outline" (click)="open(dialog, item.value)"></nb-icon>
                </span>
              </span>
            </p>
          </div>
          <div>
            <img *ngIf="imgPath != ''" ondragstart="return false" class="tile" [src]="imgPath" alt="" width="130"
              [nbPopover]="templateRef" nbPopoverTrigger="hint" nbPopoverPlacement="start">
            <ng-template #templateRef>
              <span class="popover">{{ runtime.description }}</span>
            </ng-template>
          </div>
        </div>
      </nb-card-body>
    </nb-card>

    <!-- Tabset with available options -->
    <nb-card *ngIf="availableOpts != null">
      <nb-card-header>{{ 'ADDONINFO.availableOpts' | translate }}</nb-card-header>
      <nb-tabset>
        <nb-tab *ngFor="let tag of availableOpts[1]" tabTitle="{{ tag }}">
          <div *ngFor="let item of availableOpts[0][tag]">
            <p>
              <strong>{{ item.field_description }}</strong> :
              <span *ngIf="item.value_type != 'file' && item.value_type != 'boolean' && item.value_type != 'bloolean'">
                {{ item.current_value != undefined ? item.current_value : item.default_value }}
              </span>
              <span *ngIf="item.value_type == 'boolean' || item.value_type == 'bloolean'">
                <nb-toggle [checked]="item.default_value" disabled></nb-toggle>
              </span>
              <span *ngIf="item.value_type == 'file'">
                <nb-icon icon="file-text-outline"></nb-icon>
              </span>
              <span *ngIf="item.current_value == undefined">({{ 'ADDONINFO.defaultValue' | translate }})</span>
            </p>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>

    <button nbButton status="primary" (click)="edit()" style="margin-right: 5px;">
      {{ 'ADDONINFO.edit' | translate }}
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton status="danger" (click)="openDeleteConfirmation(dialog2)">
      {{ 'ADDONINFO.delete' | translate }}
      <nb-icon icon="trash-outline"></nb-icon>
    </button>
  </div>

  <!-- Edit mode -->
  <div *ngIf="editMode">
    <nb-card accent="{{ addonCardAccent }}">
      <nb-card-header><input type="text" #name nbInput value="{{ selectedAddon.name }}"></nb-card-header>
      <nb-card-body>
        <textarea #description nbInput fullWidth value="{{ selectedAddon.description }}"></textarea>
        <p *ngIf="selectedAddon.uri != null || selectedAddon.uri != undefined">
          <strong>URI</strong> : {{ selectedAddon.uri }}
        </p>
        <p *ngIf="selectedAddon.env.length > 0">
          <strong>{{ 'ADDONINFO.envVar' | translate }}</strong> : <br>
          <strong>Proxy HTTP</strong> : {{ selectedAddon.env.HTTPS_PROXY }} <br>
          <strong>Proxy HTTPS</strong> : {{ selectedAddon.env.HTTP_PROXY }} <br>
        </p>
      </nb-card-body>
    </nb-card>
    <!-- Tabset with available options -->
    <nb-card *ngIf="availableOpts != null">
      <nb-card-header>{{ 'ADDONINFO.availableOpts' | translate }}</nb-card-header>
      <nb-tabset>
        <nb-tab *ngFor="let tag of availableOpts[1]" tabTitle="{{ tag }}">
          <div *ngFor="let item of availableOpts[0][tag]">
            <p>
              <strong>{{ item.field_description }} : </strong>
              <input *ngIf="item.value_type == 'integer'" type="number" id="{{ item.field_name }}" nbInput #value
                value="{{ item.current_value != undefined ? item.current_value : '' }}"
                placeholder="{{ item.default_value }}" pattern="[0-9]"
                (change)="saveOptions(item.field_name, item.tag, value.value)">
              <span *ngIf="item.value_type == 'boolean' || item.value_type == 'bloolean'">
                <nb-toggle #toggle (change)="saveOptions(item.field_name, item.tag, toggle.checked)"
                  [checked]="item.current_value != undefined ? item.current_value : item.default_value"></nb-toggle>
              </span>
              <input *ngIf="item.value_type == 'file'" type="file" id="{{ item.field_name }}" nbInput #file
                (change)="saveOptions(item.field_name, item.tag, $event.target.files, true)">
            </p>
          </div>
        </nb-tab>
      </nb-tabset>
    </nb-card>

    <button nbButton status="primary" (click)="save(name.value, description.value)" style="margin-right: 5px;">
      {{ 'ADDONINFO.save' | translate }}
      <nb-icon icon="edit-outline"></nb-icon>
    </button>
    <button nbButton status="danger" (click)="cancel()">
      {{ 'ADDONINFO.cancel' | translate }}
      <nb-icon icon="close-outline"></nb-icon>
    </button>
  </div>

  <!-- Dialog to show files -->
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>{{ 'ADDONINFO.fileContent' | translate }}</nb-card-header>
      <nb-card-body>
        {{ fileToShow }}
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="close(ref)">Fermer</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<!-- Delete dialog -->
<ng-template #dialog2 let-data let-ref="dialogRef">
  <nb-card>
    <nb-card-header>{{ 'WEBAPP.confirm' | translate }}</nb-card-header>
    <nb-card-body>
      {{ 'ADDONINFO.looseData' | translate }}<br>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="danger" (click)="close(ref)">{{ 'WEBAPP.cancel' | translate }}</button>
      <button style="margin-left: 5px;" nbButton status="primary"
        (click)="closeDeleteConfirm(ref)">{{ 'WEBAPP.confirm' | translate }}</button>
    </nb-card-footer>
  </nb-card>
</ng-template>

<!-- If no addon -->
<div *ngIf="!hasAddon">
  {{ 'ADDONINFO.noAddon' | translate }}
</div>
