.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.space-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.tile {
  border-radius: 5px;
  margin-right: 30px;
}

.popover {
  font-family: Roboto, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
}
