<table>
  <!-- Version/runtimes selection -->
  <tr>
    <td><strong>{{ 'WEBAPP.chooseVersion' | translate }}* : </strong></td>
    <td style="width: 350px;">
      <nb-select #select [fullWidth]="true">
        <nb-option *ngFor="let item of addonsList" value="{{ item.id }}" (click)="onFamSelect(item, select)">
          {{ item.description }}
        </nb-option>
      </nb-select>
    </td>
    <td>
      <button nbButton [nbPopover]="templateRef" nbPopoverTrigger="hover" nbPopoverPlacement="end" ghost>
        <nb-icon icon="info-outline"></nb-icon>
      </button>
      <ng-template #templateRef>
        <span class="popover" *ngIf="selectedRuntime != null">{{ selectedRuntime.description }}</span>
      </ng-template>
    </td>
  </tr>
  <!-- Addon name -->
  <tr>
    <td><strong>{{ 'ADDONS.name' | translate }}* : </strong></td>
    <td><input #addonName (keyup)="setName(addonName.value)" nbInput type="text"></td>
  </tr>
  <!-- Addon description -->
  <tr>
    <td><strong>{{ 'ADDONS.desc' | translate }} : </strong></td>
    <td><input #addonDesc (keyup)="setDesc(addonDesc.value)" nbInput type="text"></td>
  </tr>
  <tr>
    <td>
      <button *ngIf="!lock" #btnSuccess nbButton status="primary" [disabled]="false"
        (click)="add(addonName.value, addonDesc.value, addonsList[0].fam)">
        {{ 'ADDADDONS.confirm' | translate }}<nb-icon icon="plus-outline"></nb-icon>
      </button>
    </td>
  </tr>
</table>
