<nb-card accent="primary">
  <nb-card-header>
    <h5>{{ 'OVERVIEW.chart' | translate }}</h5>
  </nb-card-header>
  <nb-card-body>
    <canvas #canvas width="50" height="50">{{ chart }}</canvas>
  </nb-card-body>
</nb-card>
