<nb-layout #bodyLayout>
  <nb-layout-header fixed>
    <!-- Left menu button -->
    <nb-actions size="medium">
      <nb-action id="menuBtn" class="toggleButton" icon="menu-outline" (click)="toggle()"></nb-action>
    </nb-actions>
    <div class="flexBetween">
      <div class="max-width">
        <img id="logo" ondragstart="return false" [src]="'../assets/capsule.svg'" alt="capsule logo">
        <h2 id="title"><span class="blue">Caps</span>adm</h2>
        <!-- Select capsule -->
        <nb-select #selectCaps placeholder="{{'HOME.choice' | translate}}" [selected]="firstCapsule" filled
          status="primary">
          <nb-option *ngFor="let capsule of capsules; let i = index" (click)="onSelect(capsule)"
            value="{{capsule.name}}">
            {{capsule.name}}
          </nb-option>
          <nb-option *ngIf="role == 'admin' || role == 'superadmin'">
            <a routerLink="add-capsule">
              <button nbButton size="small" status="primary">
                {{ 'HOME.capCreation' | translate }}
                <nb-icon icon="plus-outline"></nb-icon>
              </button>
            </a>
          </nb-option>
        </nb-select>
        <nb-icon *ngIf="!refreshLocked" (click)="refresh(selectCaps)" class="refreshIcon" icon="refresh-outline"
          status="primary">
        </nb-icon>
        <nb-icon *ngIf="refreshLocked" class="lockIcon" icon="lock-outline" status="danger">
        </nb-icon>
      </div>
      <div class="max-width">
        <!-- Right customization menu -->
        <nb-icon (click)="toggleRight()" icon="brush-outline" status="primary"
          style="font-size: 2rem; margin-left: 20px;"></nb-icon>
      </div>
    </div>
  </nb-layout-header>

  <!-- Not fixed sidebar for mobile user -->
  <nb-sidebar
    *ngIf="!breakpointObserver.isMatched('(max-width: 820px)') && !breakpointObserver.isMatched('(orientation: landscape)') || !breakpointObserver.isMatched('(max-width: 1120px)')"
    class="slideIn" left tag="left">
    <nb-menu tag="leftMenu" [items]="items"></nb-menu>
    <nb-menu tag="leftMenu" class="fixedBottom" [items]="otherItems"></nb-menu>
  </nb-sidebar>

  <!-- Normal sidebar for desktop user -->
  <nb-sidebar
    *ngIf="breakpointObserver.isMatched('(max-width: 820px), (min-width: 820px) and (max-width: 1200px) and (orientation: landscape)')"
    class="slideIn" state="collapsed" fixed left tag="left">
    <nb-menu tag="leftMenu" [items]="items"></nb-menu>
    <nb-menu tag="leftMenu" [className]="!breakpointObserver.isMatched('(orientation: landscape)') ? 'fixedBottom' : ''"
      [items]="otherItems">
    </nb-menu>
  </nb-sidebar>

  <!-- Right Sidebar -->
  <nb-sidebar class="sidebar" state="collapsed" fixed right tag="right">
    <!-- Change theme -->
    <p class="textSize">{{ 'HOME.theme' | translate }}</p>
    <nb-select placeholder="{{ 'HOME.chooseTheme' | translate }}" [selected]="selectedTheme">
      <nb-option *ngFor="let theme of themeList" (click)="themeChange(theme)" value="{{ theme }}">
        {{ theme | titlecase }}
      </nb-option>
    </nb-select>

    <!-- Language -->
    <p class="textSize">{{ 'HOME.language' | translate }}</p>
    <nb-select class="margin-left" placeholder="{{ 'HOME.langChoice' | translate }}" [selected]="translate.currentLang">
      <nb-option *ngFor="let lang of langs" value="{{ lang }}" (click)="translateIt(lang)">
        <span *ngIf="lang == 'fr'">Français</span>
        <span *ngIf="lang == 'en'">English</span>
      </nb-option>
    </nb-select>

    <!-- Modify text size -->
    <p class="textSize">{{ 'HOME.textSize' | translate }}</p>
    <nb-actions>
      <nb-action *ngIf="!plusDisabled" (click)="resizeText('+')" icon="plus-outline"></nb-action>
      <nb-action *ngIf="!minusDisabled" (click)="resizeText('-')" icon="minus-outline"></nb-action>
      <nb-action *ngIf="!resetDisabled" (click)="resizeText('reset')" icon="undo-outline"></nb-action>
      <nb-action *ngIf="!resetDisabled">{{ resizeCount }}</nb-action>
    </nb-actions>

    <!-- Compact or not sidebar -->
    <p>{{ 'HOME.makeCompact' | translate }}</p>
    <nb-toggle labelPosition="end" [(checked)]="isCompactCheck" (click)="compactSidebar()">
      <span *ngIf="isCompact">{{ 'HOME.compact' | translate }}</span>
      <span *ngIf="!isCompact">{{ 'HOME.notCompact' | translate }}</span>
    </nb-toggle>

    <!-- Reset cards position -->
    <p>{{ 'HOME.resetCards' | translate }}</p>
    <button nbButton ghost status="primary" (click)="resetCards()">
      <nb-icon icon="undo-outline"></nb-icon>
    </button>

    <!-- Activate/deactivate animation -->
    <p>{{ 'HOME.enableAnim' | translate }}</p>
    <nb-toggle labelPosition="end" [(checked)]="isAnimCheck" (click)="toggleAnimations()">
      <span *ngIf="isAnim">{{ 'HOME.animEnable' | translate }}</span>
      <span *ngIf="!isAnim">{{ 'HOME.animDisable' | translate }}</span>
    </nb-toggle>
  </nb-sidebar>

  <nb-layout-column>
    <!-- Page Content -->
    <router-outlet></router-outlet>

    <nb-spinner *ngIf="isLoading" message="{{ 'HOME.loadingMsg' | translate }}" size="giant" status="primary">
    </nb-spinner>

    <ng-template #elseBlock>
      <a *ngIf="!isLoading && isAPIworking" routerLink="add-capsule"><button nbButton
          status="primary">{{ 'HOME.capCreation' | translate }}<nb-icon icon="plus-outline">
          </nb-icon></button>
      </a>
      <h6 *ngIf="!isLoading && !isAPIworking">{{ 'HOME.APInoResponse' | translate }}</h6>
    </ng-template>

    <ng-template #elseBlockAddons>
      <h3>{{ 'ADDONS.noAddons' | translate }}</h3>
    </ng-template>
    <!-- To prevent two times display, use *ngIf in components -->

    <!-- To send capsule to component w/ using router param -->
    <div *ngIf="router.url === '/overview' || router.url === '/'">

      <!-- Overview component if capsule -->
      <div class="card-row">
        <div class="card-col-big">
          <app-capsule-overview *ngIf="selectedCapsule; else elseBlock" [capsule]="selectedCapsule"
            [hasAddons]="hasAddons" (refresh)="handleRefreshNotW(selectCaps, $event)"></app-capsule-overview>
        </div>
        <!-- Current webapp -->
        <div class="card-col-small">
          <app-current-webapp *ngIf="selectedCapsule" [capsuleId]="selectedCapsule.id" [hasWebapp]="hasWebapp">
          </app-current-webapp>
        </div>
      </div>
      <div class="card-row">
        <div class="card-col">
          <app-accordion-item *ngIf="selectedCapsule" [hasAddons]="hasAddons" [capsuleId]="selectedCapsule.id">
          </app-accordion-item>
        </div>
      </div>

    </div>

    <!-- Webapp component if capsule -->
    <div *ngIf="router.url === '/webapp'">
      <app-webapp *ngIf="selectedCapsule; else elseBlock" [capsuleId]="selectedCapsule.id"
        [capName]="selectedCapsule.name" [hasWebapp]="hasWebapp" (needRefresh)="handleRefresh(selectCaps, $event)">
      </app-webapp>
    </div>

    <!-- Add Addon component if capsule -->
    <div *ngIf="router.url === '/add-addons'">
      <app-add-addons *ngIf="selectedCapsule; else elseBlock" [capsuleId]="selectedCapsule.id"
        (needRefresh)="handleRefreshNotW(selectCaps)"></app-add-addons>
    </div>

    <!-- Addon info component if capsule -->
    <div *ngIf="router.url.startsWith('/addon')">
      <div *ngIf="selectedCapsule && selectedCapsule.addons[0]; else elseBlockAddons">
        <app-addon-info *ngIf="addonStatus == 'data'" [addons]="selectedCapsule.addons"
          (needRefresh)="handleRefreshNotW(selectCaps)"></app-addon-info>
      </div>
    </div>

  </nb-layout-column>
</nb-layout>
