:host nb-layout-header button:last-child {
  margin-left: auto;
}

nb-sidebar.sidebar {
  transition: width .3s cubic-bezier(.19, 1, .22, 1);
}

.button-ghost-basic-focus-background-color {
  background-color: rgba(0, 0, 0, 0);
}

h2 {
  margin-right: 20px;
  margin-left: 10px;
}

.blue {
  color: #5f8cc9;
}

h4 {
  margin-top: 0;
  margin-bottom: 0;
}

.firstListElement {
  border-top: 0;
}

a {
  text-decoration: none;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.max-width {
  display: flex;
  align-items: center;
  width: auto;
}

.margin-left {
  margin-left: 5px;
}

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.card-col-big {
  flex: 1 0 calc(60% - 1rem);
  margin: 0 0.5rem;
}

.card-col-small {
  flex: 1 0 calc(40% - 1rem);
  margin: 0 0.5rem;
}

.refreshIcon {
  font-size: 1.65rem;
  margin-left: 20px;
  cursor: pointer;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
}

.refreshIcon:hover {
  rotate: 360deg;
}

.lockIcon {
  font-size: 1.65rem;
  margin-left: 20px;
  transition: all 1s cubic-bezier(.19, 1, .22, 1);
}

.lockIcon:hover {
  animation: shake 0.5s;
}

nb-layout-header {
  animation: slideIn .3s cubic-bezier(.19, 1, .22, 1);
}

nb-sidebar.slideIn {
  animation: slideInSidebar .3s cubic-bezier(.19, 1, .22, 1);
}

nb-menu {
  animation: slideInMenu .3s cubic-bezier(.19, 1, .22, 1);
}

.fixedBottom {
  position: absolute;
  bottom: 1.25rem;
  width: 100%;
}

@keyframes slideIn {
  from {
    top: -25px;
  }

  to {}
}

@keyframes slideInSidebar {
  from {
    width: 0;
  }

  to {}
}

@keyframes slideInMenu {
  from {
    margin-right: 5rem;
    margin-left: -2rem;
  }

  to {}
}

@keyframes shake {
  0% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, 0px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 0px) rotate(0deg);
  }

  40% {
    transform: translate(1px, 0px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 0px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 0px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 0px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, 0px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 0px) rotate(0deg);
  }

  100% {
    transform: translate(1px, 0px) rotate(-1deg);
  }
}

@media only screen and (max-width: 600px) {

  #title,
  #logo {
    display: none;
  }

  #menuBtn {
    padding-left: 0;
    padding-right: 5px;
  }

  .card-row {
    flex-direction: column
  }

  .refreshIcon,
  .lockIcon {
    margin-left: 5px;
  }
}
