<nb-spinner *ngIf="isLoading" message="{{ 'HOME.loadingMsg' | translate }}" size="giant" status="primary"></nb-spinner>
<div class="card-row">
  <div class="card-col">
    <!-- Left card list for all runtimes -->
    <nb-card accent="primary">
      <nb-card-header>
        <h6>Runtimes</h6>
      </nb-card-header>
      <nb-list>
        <nb-list-item *ngFor="let runtime of runtimes">
          <a class="a-cursor" (click)="showDetails(runtime)">{{ runtime.fam }} ({{ runtime.name }})</a>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </div>
  <!-- Right card showing selected runtime info -->
  <div class="card-col-2" *ngIf="selectedRuntime">
    <div #card>
      <nb-card accent="success">
        <nb-card-header>
          <div class="flexBetween">
            <h6>{{selectedRuntime.fam}}</h6>
            <img *ngIf="breakpointObserver.isMatched('(max-width: 600px)')" class="tile" ondragstart="return false"
              src="{{imgPath}}" alt="">
          </div>
        </nb-card-header>
        <nb-card-body>
          <div class="flexBetween">
            <div>
              <strong>{{ 'RUNTIMES.info' | translate }} :</strong> {{selectedRuntime.desc}} <br>
              <strong>{{ 'RUNTIMES.name' | translate }} :</strong> {{selectedRuntime.name}} <br>
              <strong>{{ 'RUNTIMES.runtimeType' | translate }} :</strong> {{selectedRuntime.runtime_type}} <br>
              <strong>{{ 'RUNTIMES.family' | translate }} :</strong> {{selectedRuntime.fam}} <br>
            </div>
            <div>
              <img *ngIf="!breakpointObserver.isMatched('(max-width: 600px)')" class="tile" ondragstart="return false"
                src="{{imgPath}}" alt="" width="130">
            </div>
          </div>
          <div *ngIf="selectedRuntime.available_opts.length != 0">
            <strong>{{ 'RUNTIMES.optsList' | translate }} :</strong><br><br>
            <table class="table_style">
              <thead>
                <th>{{ 'RUNTIMES.optsName' | translate }}</th>
                <th>{{ 'RUNTIMES.accessLvl' | translate }}</th>
                <th>{{ 'RUNTIMES.defaultValue' | translate }}</th>
                <th>{{ 'RUNTIMES.fieldDescription' | translate }}</th>
                <th>{{ 'RUNTIMES.fieldName' | translate }}</th>
                <th>{{ 'RUNTIMES.valueType' | translate }}</th>
              </thead>
              <tbody>
                <tr *ngFor="let opts of selectedRuntime.available_opts">
                  <td>{{opts.tag}}</td>
                  <td>{{opts.access_level}}</td>
                  <td>{{opts.default_value}}</td>
                  <td>{{opts.field_description}}</td>
                  <td>{{opts.field_name}}</td>
                  <td>{{opts.value_type}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>
