@import '../../themes.scss';

.card-row {
  display: flex;
  margin: 0 -0.5rem;
}

.card-col {
  width: 20%;
}

.card-col-2 {
  flex: 1 0 calc(50% - 1rem);
  margin: 0 0.5rem;
}

.a-cursor {
  cursor: pointer;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tile {
  border-radius: 5px;
  margin-right: 30px;
  opacity: 1;
  animation: rightToLeft .3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

.table_style {
  border-collapse: collapse;
  width: 100%;
}

@include nb-install-component {

  .table_style td,
  .table_style th {
    border: 1px solid nb-theme(divider-color);
    padding: 8px;
  }
}

@include nb-install-component {
  .table_style tr:hover {
    background-color: nb-theme(text-hint-color);
    transition: all .5s cubic-bezier(.19, 1, .22, 1);
  }
}

@include nb-install-component {
  .table_style th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: nb-theme(color-primary-500);
    color: white;
  }
}

@keyframes rightToLeft {
  from {
    margin-right: 0px;
    opacity: 0;
  }

  to {}
}

@keyframes marginRight {
  from {}

  to {
    margin-left: 10px;
    margin-right: -10px;
    opacity: 0;
  }
}

@media only screen and (max-width: 600px),
(max-width: 600px) and (orientation: landscape) {
  .card-row {
    display: block;
  }

  .card-col {
    width: 100%;
  }

  .tile {
    width: 50px;
    margin: -10px 0;
  }
}
