.space-between {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.flexBetween {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tile {
  border-radius: 5px;
  margin-right: 30px;
}
