<div *ngIf="webapp && hasWebapp">
  <!-- if webapp == true (wait for data instead of printing before data comes) AND hasWebapp == true (to show or not) -->
  <nb-card accent="primary" cdkDrag [cdkDragFreeDragPosition]="freeDragPosition" (cdkDragEnded)="afterDrag($event)"
    cdkDragBoundary=".columns">
    <nb-card-header>
      <div class="space-between">
        <h6>
          {{ 'WEBAPP.current' | translate }} : {{ webappName }}
          <span *ngIf="this.webappName == ''">{{ 'WEBAPP.notSpecified' | translate }}</span>
        </h6>
        <div class="space-between">
          <nb-icon *ngIf="!resetDisabled" (click)="resetPosition()" icon="undo-outline" status="primary"
            style="font-size: 1.75rem;">
          </nb-icon>
          <div *ngIf="!isOverview" cdkDragHandle></div>
          <nb-icon *ngIf="isOverview" icon="move-outline" status="primary" class="move-btn" cdkDragHandle></nb-icon>
        </div>
      </div>
    </nb-card-header>
    <nb-card-body class="flexBetween">
      <p *ngIf="this.webappName == ''">{{ 'WEBAPP.notSpecified' | translate }}</p>
      <div *ngIf="runtime != undefined">
        Nom : {{ runtime.name }}
        <br>
        Description : {{ runtime.description }}
      </div>
      <img ondragstart="return false" [src]="imgPath" class="tile" alt="" width="130">
    </nb-card-body>
  </nb-card>
</div>

<!-- If no webapp -->
<div *ngIf="!hasWebapp">
  <nb-card accent="danger">
    <nb-card-header>{{ 'WEBAPP.noWebapp' | translate }}</nb-card-header>
  </nb-card>
</div>
