.tiles {
  margin-right: 20px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  filter: grayscale(90%) opacity(50%) blur(.5px);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  animation: margin .3s;
  animation-timing-function: cubic-bezier(.25, .8, .25, 1);
}

.tiles:hover {
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translate3d(.3rem, -.3rem, 0);
  filter: grayscale(0%) opacity(100%) blur(0px);
  transition-delay: 75ms;
}

@keyframes margin {
  from {
    margin-right: 0;
    box-shadow: 0;
  }

  to {}
}

[type=radio],
[type=checkbox] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

[type=radio]+img,
[type=checkbox]+img {
  cursor: pointer;
}

[type=radio]:checked+img,
[type=checkbox]:checked+img {
  transform: translate3d(.3rem, -.3rem, 0);
  box-shadow: 0 10px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  filter: grayscale(0%);
}

button {
  margin-top: 5px;
  margin-right: 5px;
}

.topToBottom {
  margin-top: 0px;
  animation: topBot .5s;
  animation-timing-function: cubic-bezier(.25, .8, .25, 1);
}

.popover {
  font-family: Roboto, sans-serif;
  font-size: 0.9375rem;
  font-weight: 400;
  line-height: 1.25rem;
  padding: 0.75rem 1rem;
}

@keyframes topBot {
  from {
    margin-top: -20px;
  }

  to {}
}
