<nb-card accent="{{ nbCardAccent }}">
  <nb-card-header class="textSize">{{ 'ADDCAPS.addCaps' | translate }}</nb-card-header>
  <nb-card-body>
    <nb-stepper #stepper [linear]="true" disableStepNavigation>

      <!-- First step : name and users -->
      <nb-step label="{{ 'ADDCAPS.nameLbl' | translate }}">
        <table>
          <tr>
            <td><strong>{{ 'ADDCAPS.name' | translate }} :</strong></td>
            <td>
              <input #capName placeholder="lyc-foch-versailles" pattern="[a-z0-9\-_]+" [nbPopover]="templateRef"
                nbPopoverTrigger="hint" nbPopoverPlacement="end" nbInput type="text">
              <ng-template #templateRef>
                <span class="popover">{{ 'ERROR.specialChar' | translate }}</span>
              </ng-template>
              <!-- <app-input-field [labelText]="" [single]="true" #capName></app-input-field> -->
            </td>
          </tr>
          <tr>
            <td><strong>{{ 'ADDCAPS.addUsers' | translate }} :</strong></td>
            <td>
              <app-input-field #inputField [labelText]="'pnom'" [single]="false" [user]="true"></app-input-field>
            </td>
            <td>{{ 'INPUT.addElement' | translate }}</td>
          </tr>
        </table>
        <nb-list>
          <nb-list-item class="topToBottom" *ngFor="let item of inputField.values; let i = index;">
            <nb-icon (click)="removeUser(inputField.values, i)" icon="close-outline"></nb-icon>
            {{ item }}
          </nb-list-item>
        </nb-list>
        <button nbButton nbStepperNext>{{ 'ADDCAPS.next' | translate }}</button>
      </nb-step>

      <!-- Second step : webapp -->
      <nb-step label="Webapps">
        <p>({{ 'ADDCAPS.optional' | translate }})</p>
        <app-webapp-list #webappList></app-webapp-list><br><br>
        <app-webapp-creation *ngIf="webappList.selectedFamily[0] != ''" #webappCreation [webappList]="webappList"
          [lock]="true">
        </app-webapp-creation>
        <button nbButton status="basic" nbStepperPrevious>{{ 'ADDCAPS.previous' | translate }}</button>
        <button nbButton nbStepperNext>{{ 'ADDCAPS.next' | translate }}</button>
      </nb-step>

      <!-- Third step : addons -->
      <nb-step label="Addons">
        <div>
          <p>({{ 'ADDCAPS.optional' | translate }})</p>
          <app-addons-list #addonsList></app-addons-list>
          <app-addon-creation *ngIf="addonsList.selectedFamily != undefined && addonsList.selectedFamily.length > 0"
            #addonCreation [addonsList]="addonsList.selectedFamily" [lock]="true">
          </app-addon-creation>
        </div>
        <button nbButton status="basic" nbStepperPrevious>{{ 'ADDCAPS.previous' | translate }}</button>
        <a
          (click)="onSave(capName.value, inputField.values, addonsList.selectedAddons, webappList.selectedFamily[0].fam)">
          <button nbButton status="primary">{{ 'ADDCAPS.addTheCaps' | translate }}<nb-icon icon="plus-outline">
            </nb-icon>
          </button>
        </a>
      </nb-step>
    </nb-stepper>
  </nb-card-body>
</nb-card>
