<div *ngIf='single == false'>
  <label for="value"></label><input #value type="text" nbInput placeholder="{{ labelText }}"
    (keyup.enter)="onEnter(value.value); value.value=''">

</div>
<div *ngIf='single'>
  <label for="value"></label><input #value type="text" nbInput placeholder="{{ labelText }}"
    (keyup)="onValueEnter(value.value)">
</div>
