<div *ngIf="webapp && hasWebapp">
  <app-current-webapp *ngIf="capsuleId" [capsuleId]="capsuleId" [hasWebapp]="hasWebapp"></app-current-webapp>

  <!-- Available options -->
  <nb-card *ngIf="availableOpts != null">
    <nb-card-header>{{ 'WEBAPP.availableOpts' | translate }}</nb-card-header>
    <nb-tabset>
      <nb-tab *ngFor="let tag of availableOpts[1]" tabTitle="{{ tag }}">
        <div *ngFor="let item of availableOpts[0][tag]">
          <p>
            <strong>{{ item.field_description }} : </strong>
            <input *ngIf="item.value_type == 'integer'" type="number" id="{{ item.field_name }}" nbInput #value
              value="{{ item.current_value != undefined ? item.current_value : '' }}"
              placeholder="{{ item.default_value }}" pattern="[0-9]"
              (change)="saveOptions(item.field_name, item.tag, value.value)">
            <span *ngIf="item.value_type == 'boolean' || item.value_type == 'bloolean'">
              <nb-toggle #toggle (change)="saveOptions(item.field_name, item.tag, toggle.checked)"
                [checked]="item.current_value != undefined ? item.current_value : item.default_value"></nb-toggle>
            </span>
            <input *ngIf="item.value_type == 'file'" type="file" id="{{ item.field_name }}" nbInput #file
              (change)="saveOptions(item.field_name, item.tag, $event.target.files, true)">
          </p>
        </div>
      </nb-tab>
    </nb-tabset>
    <nb-card-footer>
      <button nbButton status="primary" (click)="saveWebappOptions()">
        {{ 'WEBAPP.saveAvailableOpts' | translate }}
        <nb-icon icon="plus-outline"></nb-icon>
      </button>
    </nb-card-footer>
  </nb-card>

  <nb-accordion>
    <!-- Webapp settings -->
    <nb-accordion-item>
      <nb-accordion-item-header>
        <span>{{ 'WEBAPP.changeSettings' | translate }}</span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <table>
          <tr>
            <td>{{ 'WEBAPP.redirection' | translate }} ?</td>
            <td>
              <nb-toggle #httpRedir [checked]="webapp.tls_redirect_https" labelPosition="start" (change)="isEdited()">
              </nb-toggle>
            </td>
          </tr>
          <tr>
            <td>{{ 'WEBAPP.tlsCertif' | translate }}</td>
            <td><textarea nbInput #tlsCert (keyup)="isEdited()"></textarea></td>
            <td>{{ 'WEBAPP.warningTLS' | translate }}</td>
          </tr>
          <tr>
            <td>{{ 'WEBAPP.tlsKey' | translate }}</td>
            <td><textarea nbInput #tlsKey (keyup)="isEdited()"></textarea></td>
          </tr>
          <!-- Environment variables >>>>> -->
          <tbody *ngIf="!isEmpty(webapp.env)">
            <tr>
              <td>{{ 'WEBAPP.envVar' | translate }} :</td>
            </tr>
            <tr>
              <td>{{ 'WEBAPP.key' | translate }}</td>
              <td>{{ 'WEBAPP.value' | translate }}</td>
            </tr>
            <tr *ngFor="let variable of webapp.env | keyvalue">
              <td><input type="text" #keyInput nbInput value="{{ variable.key }}" [nbPopover]="templateRef"
                  nbPopoverTrigger="hint" nbPopoverPlacement="end"
                  (keyup.enter)="editKey(variable.key, keyInput.value, variable.value)"></td>
              <ng-template #templateRef>
                <span class="popover">{{ 'WEBAPP.addKeyEnter' | translate }}</span>
              </ng-template>
              <td><input type="text" #valueInput nbInput value="{{ variable.value }}" [nbPopover]="templateRef"
                  nbPopoverTrigger="hint" nbPopoverPlacement="end"
                  (keyup.enter)="editValue(variable.key, valueInput.value)"></td>
              <nb-icon class="icon" title="{{ 'SSH.delete' | translate }}" icon="close-outline"
                (click)="deleteEnvVar(variable.key)">
              </nb-icon>
            </tr>
          </tbody>
          <tr>
            {{ 'WEBAPP.addEnvVar' | translate }}
          </tr>
          <tr>
            <td><input type="text" #addKeyInput nbInput placeholder="{{ 'WEBAPP.key' | translate }}"></td>
            <td><input type="text" #addValueInput nbInput placeholder="{{ 'WEBAPP.value' | translate }}"></td>
            <td><button nbButton
                (click)="addEnvVar(addKeyInput.value, addValueInput.value); addKeyInput.value = ''; addValueInput.value = ''">
                {{ 'WEBAPP.add' | translate }}
              </button>
            </td>
          </tr>
          <!-- <<<<< Environment variables -->
          <tr>
            <td>{{ 'WEBAPP.fqdns' | translate }} :</td>
            <td>
              <app-input-field #inputField [labelText]="" [single]="false" (keyup.enter)="isEdited()"></app-input-field>
            </td>
            <td>{{ 'INPUT.addElement' | translate }}</td>
          </tr>
        </table>

        <nb-list>
          <nb-list-item *ngFor="let values of inputField.values; let i = index">
            <nb-icon class="icon" status="danger" icon="close-outline" (click)="removeFqdn(inputField.values, i)">
            </nb-icon>
            {{ values }} | Alias ? false
            <nb-toggle #toggleAlias (change)="addOnFqdn(values, inputField.values, i)" style="margin-left: 10px;">
            </nb-toggle>
          </nb-list-item>
        </nb-list>
        <nb-list>
          <nb-list-item *ngFor="let fqdn of webapp.fqdns; let i = index">
            <nb-icon class="icon" status="danger" icon="close-outline" (click)="removeFqdn(webapp.fqdns, i)"></nb-icon>
            {{ fqdn.name }} | Alias ? {{ fqdn.alias }}
            <nb-toggle #toggleAlias (change)="editAlias(webapp.fqdns, i, toggleAlias.checked)" [checked]="fqdn.alias"
              style="margin-left: 10px;">
            </nb-toggle>
          </nb-list-item>
        </nb-list>
        <br>

        <button nbButton *ngIf="edited" status="primary"
          (click)="saveParameters(httpRedir.checked, tlsCert.value, tlsKey.value, inputField.values)">
          {{ 'WEBAPP.saveAvailableOpts' | translate }}
          <nb-icon icon="save-outline"></nb-icon>
        </button>

        <!-- FIXME Find a better way to differenciate integers and files -->
        <p *ngIf="webapp.opts.length > 0">
          <strong>{{ 'WEBAPP.optsList' | translate }}</strong> :<br>
          <span *ngFor="let item of webapp.opts">
            <strong>{{ item.field_name }}</strong> :
            <span *ngIf="item.value.length < 22">
              {{ item.value }}
            </span>
            <span *ngIf="item.value.length >= 22">
              <nb-icon status="primary" icon="file-text-outline" (click)="openFileDialog(dialog3, item.value)">
              </nb-icon>
            </span>
            <br>
          </span>
        </p>
      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Crons -->
    <nb-accordion-item>
      <nb-accordion-item-header>Crons</nb-accordion-item-header>
      <nb-accordion-item-body>
        <nb-tabset *ngIf="crons != null">
          <nb-tab *ngFor="let cron of crons; let i = index" tabTitle="cron {{ i + 1 }}">
            <table>
              <tr>
                <td><strong>{{ 'WEBAPP.cronList' | translate }}</strong></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.command' | translate }} : </td>
                <td>
                  <input #command type="text" nbInput value="{{ cron.command }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.hour' | translate }} : </td>
                <td>
                  <input #hour type="text" nbInput value="{{ cron.hour }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.minute' | translate }} : </td>
                <td>
                  <input #minute type="text" nbInput value="{{ cron.minute }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.month' | translate }} : </td>
                <td>
                  <input #month type="text" nbInput value="{{ cron.month }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.monthDay' | translate }} : </td>
                <td>
                  <input #monthDay type="text" nbInput value="{{ cron.month_day }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.weekDay' | translate }} : </td>
                <td>
                  <input #weekDay type="text" nbInput value="{{ cron.week_day }}" (change)="cronsEdited = true">
                </td>
              </tr>
              <tr>
                <td>Actions :
                  <nb-icon *ngIf="cronsEdited" class="icon" status="primary" icon="save-outline"
                    (click)="saveCron(command.value, hour.value, minute.value, month.value, monthDay.value, weekDay.value, cron.id)">
                  </nb-icon>
                  <nb-icon class="icon" status="danger" icon="close-outline" (click)="deleteCron(cron.id)">
                  </nb-icon>
                </td>
              </tr>
            </table>
          </nb-tab>
          <nb-tab tabTitle="{{ 'WEBAPP.newCron' | translate }}">
            <table>
              <tr>
                <td><strong>{{ 'WEBAPP.newCron' | translate }}</strong></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.command' | translate }} : </td>
                <td><input #newCommand type="text" nbInput></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.hour' | translate }} : </td>
                <td><input #newHour type="text" nbInput></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.minute' | translate }} : </td>
                <td><input #newMinute type="text" nbInput></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.month' | translate }} : </td>
                <td><input #newMonth type="text" nbInput></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.monthDay' | translate }} : </td>
                <td><input #newMonthDay type="text" nbInput></td>
              </tr>
              <tr>
                <td>{{ 'WEBAPP.CRON.weekDay' | translate }} : </td>
                <td><input #newWeekDay type="text" nbInput></td>
              </tr>
              <tr>
                <td>Actions :
                  <nb-icon class="icon" status="primary" icon="save-outline"
                    (click)="saveNewCron(newCommand.value, newHour.value, newMinute.value, newMonth.value, newMonthDay.value, newWeekDay.value)">
                  </nb-icon>
                  <nb-icon class="icon" status="warning" icon="trash-outline"
                    title="{{ 'WEBAPP.eraseSelection' | translate }}"
                    (click)="newCommand.value = ''; newHour.value = ''; newMinute.value = ''; newMonth.value = ''; newMonthDay.value = ''; newWeekDay.value = ''">
                  </nb-icon>
                </td>
              </tr>
            </table>
          </nb-tab>
        </nb-tabset>
      </nb-accordion-item-body>
    </nb-accordion-item>

    <!-- Change webapp, webapp-list component -->
    <nb-accordion-item>
      <nb-accordion-item-header>
        <span>{{ 'WEBAPP.switch' | translate }}</span>
      </nb-accordion-item-header>
      <nb-accordion-item-body>
        <app-webapp-list #webappListChange (htmlEl)=" open(dialog, dialog2, $event.name, $event.htmlElement)">
        </app-webapp-list>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
  <br>
  <button nbButton status="danger" (click)="openDeleteDialog(dialogDeleteWebapp)">
    {{ 'ADDONINFO.delete' | translate }}
    <nb-icon icon="trash-outline"></nb-icon>
  </button>

  <!-- Change webapp dialog, webapp-creation component -->
  <ng-template #dialog let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h6>{{ 'WEBAPP.confirm' | translate }}</h6>
      </nb-card-header>
      <nb-card-body>
        <app-webapp-creation #webappCreation [webappList]="webappListChange" [lock]="true"
          (readyWebapp)="confirm($event)">
        </app-webapp-creation>
        <span>{{ 'WEBAPP.looseData' | translate }}</span><br>
        <span>{{ 'WEBAPP.typeCapName' | translate }}</span><br><br>
        <input type="text" #capName fullWidth nbInput placeholder="{{ 'WEBAPP.capName' | translate }}"
          (keyup.enter)="close(ref, true, capName.value, webappListChange.selectedFamily[0].fam)">
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="close(ref, false)">{{ 'WEBAPP.cancel' | translate }}</button>
        <button style="margin-left: 5px;" nbButton status="primary"
          (click)="close(ref, true, capName.value, webappListChange.selectedFamily[0].fam)">{{ 'WEBAPP.confirm' | translate }}</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <!-- Delete webapp -->
  <ng-template #dialogDeleteWebapp let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h6>{{ 'WEBAPP.confirm' | translate }}</h6>
      </nb-card-header>
      <nb-card-body>
        <span>{{ 'WEBAPP.looseData' | translate }}</span><br>
        <span>{{ 'WEBAPP.typeCapName' | translate }}</span><br><br>
        <input type="text" #capName2 fullWidth nbInput placeholder="{{ 'WEBAPP.capName' | translate }}"
          (keyup.enter)="closeDeleteDialog(ref, true, capName2.value)">
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger"
          (click)="closeDeleteDialog(ref, false)">{{ 'WEBAPP.cancel' | translate }}</button>
        <button style="margin-left: 5px;" nbButton status="primary"
          (click)="closeDeleteDialog(ref, true, capName2.value)">{{ 'WEBAPP.confirm' | translate }}</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <!-- Same webapp dialog -->
  <ng-template #dialog2 let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>
        <h6>{{ 'WEBAPP.confirm' | translate }}</h6>
      </nb-card-header>
      <nb-card-body>
        {{ 'WEBAPP.cantSwitchSame' | translate }}
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="close(ref, false)">{{ 'WEBAPP.cancel' | translate }}</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>

  <!-- Dialog to show files -->
  <ng-template #dialog3 let-data let-ref="dialogRef">
    <nb-card>
      <nb-card-header>{{ 'WEBAPP.fileContent' | translate }}</nb-card-header>
      <nb-card-body>
        {{ fileToShow }}
      </nb-card-body>
      <nb-card-footer>
        <button nbButton status="danger" (click)="closeFileDialog(ref)">Fermer</button>
      </nb-card-footer>
    </nb-card>
  </ng-template>
</div>

<!-- If capsule has no webapp, add webapp -->
<div *ngIf="!hasWebapp">
  <h3>{{ 'WEBAPP.noWebapp' | translate }}</h3>
  <nb-card>
    <nb-card-header>{{ 'WEBAPP.createWebapp' | translate }}</nb-card-header>
    <nb-card-body>
      <app-webapp-list #webappList (choice)="showParameters()">
      </app-webapp-list>
    </nb-card-body>
  </nb-card>

  <nb-accordion *ngIf="gotData">
    <nb-accordion-item>
      <nb-accordion-item-header>{{ webappList.selectedFamily[0].fam }}</nb-accordion-item-header>
      <nb-accordion-item-body>
        <app-webapp-creation #webappCreation [webappList]="webappList" (readyWebapp)="add($event)">
        </app-webapp-creation>
      </nb-accordion-item-body>
    </nb-accordion-item>
  </nb-accordion>
</div>
