@import 'themes';

@import '~@nebular/theme/styles/globals';

@include nb-install() {
  @include nb-theme-global();
}

/* You can add global styles to this file, and also import other style files */
nb-card,
nb-accordion {
  margin-left: 0;
  margin-right: 0;
  opacity: 1;
  animation: marginLeft 0.3s;
  animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
}

@keyframes marginLeft {
  from {
    margin-left: -10px;
    margin-right: 10px;
    opacity: 0;
  }

  to {}
}

nb-menu .menu-item a {
  border-right: 0px;
  transition: all .1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

nb-menu .menu-item a.active {
  border-right: 5px solid;
}

nb-menu .menu-item a:hover {
  border-right: 5px solid;
}

nb-menu .menu-item>.menu-items>.menu-item a {
  border-right: 0px;
  transition: all .1s cubic-bezier(0.4, 0.0, 0.2, 1);
}

nb-menu .menu-item>.menu-items>.menu-item a.active {
  border-right: 5px solid;
}

nb-menu .menu-item>.menu-items>.menu-item a:hover {
  border-right: 5px solid !important;
}

nb-card.accent-primary,
nb-card.accent-info,
nb-card.accent-success,
nb-card.accent-warning,
nb-card.accent-danger {
  transition: border-top-color cubic-bezier(.19, 1, .22, 1) .3s;
}

nb-sidebar.compacted nb-menu .menu-item a.active {
  border: none;
}

.move-btn {
  font-size: 1.75rem !important;
  margin-left: 10px;
  cursor: move;
}

.noTransition * {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
  animation: none !important;
}
