@import '~@nebular/theme/styles/theming';
@import '~@nebular/theme/styles/themes/default';
@import '~@nebular/theme/styles/themes/dark';
@import '~@nebular/theme/styles/themes/cosmic';
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

$nb-themes: nb-register-theme((color-primary-100: #E1F1FC,
    color-primary-200: #C4E2F9,
    color-primary-300: #A3C9EE,
    color-primary-400: #86AFDE,
    color-primary-500: #5F8CC9,
    color-primary-600: #456CAC,
    color-primary-700: #2F5090,
    color-primary-800: #1E3774,
    color-primary-900: #122560,
    color-primary-transparent-100: rgba(95, 140, 201, 0.08),
    color-primary-transparent-200: rgba(95, 140, 201, 0.16),
    color-primary-transparent-300: rgba(95, 140, 201, 0.24),
    color-primary-transparent-400: rgba(95, 140, 201, 0.32),
    color-primary-transparent-500: rgba(95, 140, 201, 0.4),
    color-primary-transparent-600: rgba(95, 140, 201, 0.48),
    color-warning-100: #FEF4D9,
    color-warning-200: #FDE6B3,
    color-warning-300: #FAD38D,
    color-warning-400: #F6C070,
    color-warning-500: #f0a242,
    color-warning-600: #CE8030,
    color-warning-700: #AC6121,
    color-warning-800: #8B4615,
    color-warning-900: #73320C,
    color-warning-transparent-100: rgba(240, 162, 66, 0.08),
    color-warning-transparent-200: rgba(240, 162, 66, 0.16),
    color-warning-transparent-300: rgba(240, 162, 66, 0.24),
    color-warning-transparent-400: rgba(240, 162, 66, 0.32),
    color-warning-transparent-500: rgba(240, 162, 66, 0.4),
    color-warning-transparent-600: rgba(240, 162, 66, 0.48),
    color-danger-100: #FDE6D9,
    color-danger-200: #FCC7B4,
    color-danger-300: #F79F8D,
    color-danger-400: #EF7A6F,
    color-danger-500: #e54242,
    color-danger-600: #C4303D,
    color-danger-700: #A42138,
    color-danger-800: #841532,
    color-danger-900: #6D0C2E,
    color-danger-transparent-100: rgba(229, 66, 66, 0.08),
    color-danger-transparent-200: rgba(229, 66, 66, 0.16),
    color-danger-transparent-300: rgba(229, 66, 66, 0.24),
    color-danger-transparent-400: rgba(229, 66, 66, 0.32),
    color-danger-transparent-500: rgba(229, 66, 66, 0.4),
    color-danger-transparent-600: rgba(229, 66, 66, 0.48),

    popover-background-color: color-primary-500,
    popover-text-color: #FFFFFF,

    font-family-primary: unquote('Roboto, sans-serif'),
    font-family-secondary: font-family-primary,

  ), default, default);

$nb-themes: nb-register-theme((font-family-primary: unquote('Roboto, sans-serif'),
    font-family-secondary: font-family-primary,
    popover-background-color: color-primary-500,
    popover-text-color: #FFFFFF,
  ), dark, dark);

$nb-themes: nb-register-theme((font-family-primary: unquote('Roboto, sans-serif'),
    font-family-secondary: font-family-primary,
    popover-background-color: color-primary-500,
    popover-text-color: #FFFFFF,
  ), cosmic, cosmic);

$nb-themes: nb-register-theme((color-primary-100: #DCFCE8,
    color-primary-200: #BAF9D7,
    color-primary-300: #93EEC6,
    color-primary-400: #74DDB9,
    color-primary-500: #49C7A8,
    color-primary-600: #35AB99,
    color-primary-700: #248F89,
    color-primary-800: #176F73,
    color-primary-900: #0E545F,
    color-primary-transparent-100: rgba(73, 199, 168, 0.08),
    color-primary-transparent-200: rgba(73, 199, 168, 0.16),
    color-primary-transparent-300: rgba(73, 199, 168, 0.24),
    color-primary-transparent-400: rgba(73, 199, 168, 0.32),
    color-primary-transparent-500: rgba(73, 199, 168, 0.4),
    color-primary-transparent-600: rgba(73, 199, 168, 0.48),

    color-basic-100: white,
    color-basic-200: #eefafc,
    color-basic-300: #e8f5fa,
    color-basic-400: #d6e6f2,
    color-basic-500: #c7dbeb,
    color-basic-600: #a9c0db,
    color-basic-700: #497d8e,
    color-basic-800: #336a77,
    color-basic-900: #295c66,
    color-basic-1000: #244555,
    color-basic-1100: #121a2b,

    background-basic-color-1: color-basic-700,
    background-basic-color-2: color-basic-800,
    background-basic-color-3: color-basic-900,
    background-basic-color-4: color-basic-100,

    border-basic-color-1: color-basic-700,
    border-basic-color-2: color-basic-800,
    border-basic-color-3: color-basic-900,
    border-basic-color-4: color-basic-1000,
    border-basic-color-5: color-basic-1100,

    popover-background-color: color-primary-500,
    popover-text-color: #FFFFFF,

    shadow: 0 0.5rem 1rem 0 rgba(25, 30, 51, 0.24),

    text-disabled-color: color-basic-600,

    font-family-primary: unquote('Roboto, sans-serif'),
    font-family-secondary: font-family-primary,

  ), "aquamarine", dark);

$nb-themes: nb-register-theme((color-primary-100: #E1F1FC,
    color-primary-200: #C4E2F9,
    color-primary-300: #A3C9EE,
    color-primary-400: #86AFDE,
    color-primary-500: #5F8CC9,
    color-primary-600: #456CAC,
    color-primary-700: #2F5090,
    color-primary-800: #1E3774,
    color-primary-900: #122560,
    color-primary-transparent-100: rgba(95, 140, 201, 0.08),
    color-primary-transparent-200: rgba(95, 140, 201, 0.16),
    color-primary-transparent-300: rgba(95, 140, 201, 0.24),
    color-primary-transparent-400: rgba(95, 140, 201, 0.32),
    color-primary-transparent-500: rgba(95, 140, 201, 0.4),
    color-primary-transparent-600: rgba(95, 140, 201, 0.48),
    color-warning-100: #FEF4D9,
    color-warning-200: #FDE6B3,
    color-warning-300: #FAD38D,
    color-warning-400: #F6C070,
    color-warning-500: #f0a242,
    color-warning-600: #CE8030,
    color-warning-700: #AC6121,
    color-warning-800: #8B4615,
    color-warning-900: #73320C,
    color-warning-transparent-100: rgba(240, 162, 66, 0.08),
    color-warning-transparent-200: rgba(240, 162, 66, 0.16),
    color-warning-transparent-300: rgba(240, 162, 66, 0.24),
    color-warning-transparent-400: rgba(240, 162, 66, 0.32),
    color-warning-transparent-500: rgba(240, 162, 66, 0.4),
    color-warning-transparent-600: rgba(240, 162, 66, 0.48),
    color-danger-100: #FDE6D9,
    color-danger-200: #FCC7B4,
    color-danger-300: #F79F8D,
    color-danger-400: #EF7A6F,
    color-danger-500: #e54242,
    color-danger-600: #C4303D,
    color-danger-700: #A42138,
    color-danger-800: #841532,
    color-danger-900: #6D0C2E,
    color-danger-transparent-100: rgba(229, 66, 66, 0.08),
    color-danger-transparent-200: rgba(229, 66, 66, 0.16),
    color-danger-transparent-300: rgba(229, 66, 66, 0.24),
    color-danger-transparent-400: rgba(229, 66, 66, 0.32),
    color-danger-transparent-500: rgba(229, 66, 66, 0.4),
    color-danger-transparent-600: rgba(229, 66, 66, 0.48),

    color-basic-100: #F3F3F3,
    color-basic-200: #E7E7E7,
    color-basic-300: #B8B8B8,
    color-basic-400: #727272,
    color-basic-500: #141414,
    color-basic-600: #272727,
    color-basic-700: #0E0A0A,
    color-basic-800: #0B0607,
    color-basic-900: #090305,
    color-basic-1000: #090305,
    color-basic-1100: #090305,

    text-hint-color: #727272,

    background-basic-color-1: color-basic-700,
    background-basic-color-2: color-basic-800,
    background-basic-color-3: color-basic-900,
    background-basic-color-4: color-basic-100,

    border-basic-color-1: color-basic-700,
    border-basic-color-2: color-basic-800,
    border-basic-color-3: color-basic-900,
    border-basic-color-4: color-basic-1000,
    border-basic-color-5: color-basic-1100,

    popover-background-color: color-primary-500,
    popover-text-color: #FFFFFF,

    shadow: 0 0.5rem 1rem 0 rgba(34, 34, 34, 0.15),

    font-family-primary: unquote('Roboto, sans-serif'),
    font-family-secondary: font-family-primary,

  ), "highcontrast", dark);
