<!-- Received token -->
<nb-card *ngIf="isTokenReceived" status="success">
  <nb-card-header>
    <div class="space-between">
      <div>
        {{ 'APPTOKENS.tokenReceived' | translate }} :
        <input type="text" value="{{ token.token }}" nbInput #tokenPostField fieldSize="small">
        <nb-icon (click)="copy(tokenPostField)" class="icon" title="{{ 'APPTOKENS.copy' | translate }}"
          icon="copy-outline"></nb-icon>
      </div>
      <div>
        <nb-icon (click)="close()" class="icon" title="{{ 'APPTOKENS.close' | translate }}" icon="close-outline">
        </nb-icon>
      </div>
    </div>
  </nb-card-header>
</nb-card>

<!-- Create token -->
<nb-card accent="primary">
  <nb-card-header>{{ 'APPTOKENS.createToken' | translate }}</nb-card-header>
  <nb-card-body>
    {{ 'APPTOKENS.enterTokenName' | translate }} :
    <input type="text" #tokenField nbInput (keyup.enter)="onSend(tokenField.value)">
  </nb-card-body>
  <nb-card-footer>
    <button nbButton status="primary" style="margin-right: 5px;" (click)="onSend(tokenField.value)">
      {{ 'APPTOKENS.send' | translate }}
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </nb-card-footer>
</nb-card>

<!-- List of tokens -->
<nb-card accent="primary" *ngIf="isFetched && appTokens != null">
  <nb-card-header>{{ 'APPTOKENS.list' | translate }}</nb-card-header>
  <nb-card-body>
    <table class="table_style">
      <tr>
        <th>ID</th>
        <th>{{ 'APPTOKENS.tokenName' | translate }}</th>
        <th>{{ 'APPTOKENS.createdAt' | translate }}</th>
        <th>Actions</th>
      </tr>
      <tr *ngFor="let item of appTokens">
        <td>{{ item.id }}</td>
        <td>{{ item.app }}</td>
        <td>{{ item.created_at }}</td>
        <td>
          <nb-icon (click)="delete(item.id)" class="icon" title="{{ 'APPTOKENS.delete' | translate }}"
            icon="close-outline"></nb-icon>
        </td>
      </tr>
    </table>
  </nb-card-body>
</nb-card>
