<table>
  <tr>
    <!-- Version -->
    <td>{{ 'WEBAPP.chooseVersion' | translate }}* : </td>
    <td style="width: 350px;">
      <nb-select #select [fullWidth]="true">
        <nb-option *ngFor="let item of webappList.selectedFamily" value="{{ item.id }}"
          (click)="onFamSelect(item, select)">
          {{ item.name }}
        </nb-option>
      </nb-select>
    </td>
    <td>
      <button nbButton [nbPopover]="templateRef" nbPopoverTrigger="hover" nbPopoverPlacement="end" ghost>
        <nb-icon icon="info-outline"></nb-icon>
      </button>
      <ng-template #templateRef>
        <span class="popover" *ngIf="selectedRuntime != null">{{ selectedRuntime.description }}</span>
      </ng-template>
    </td>
  </tr>
  <tr>
    <!-- FQDN -->
    <td><label for="value">FQDN* :</label></td>
    <td>
      <input #fqdnField (keyup)="setFQDN(fqdnField.value)" type="text" nbInput placeholder="main.fqdn.blabla.fr">
    </td>
  </tr>
  <tr>
    <!-- Alias -->
    <td>Alias :</td>
    <td>
      <input #alias (keyup)="setAlias(alias.value)" type="text" nbInput placeholder="secondary.fqdn.blabla.fr">
    </td>
  </tr>
  <tr>
    <button *ngIf="!lock" nbButton status="primary"
      (click)="add(webappList.selectedFamily[0].fam, fqdnField.value, alias.value)">
      {{ 'WEBAPP.add' | translate }}
      <nb-icon icon="plus-outline"></nb-icon>
    </button>
  </tr>
</table>
